body{
    opacity: 50%;
    width: auto;
    height: auto;
    background-color: black;
    background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center top;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}@media only screen and (max-width: 600px){
    body{
        background-size: 250px;
        opacity: 75%;
    }
}
.header{
    background-color: black;
    
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 300px;
    height:auto;
    width: auto;
}
.een{
    color: white;
    animation-timing-function: ease-in;
    background-color: grey;
    height: 100px;
    text-align: center;
    box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
    font-size: 25pt;
    border-radius: 15px;
    
    
}
    
    
@media only screen and (max-width: 600px){
    .een{
        background-color: rgb(121, 1, 1);
        color: black;
        padding: 25px;
        font-size: 25pt;
        box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
        border-radius: 25px;
        height: 75px;
    }
}
.een{
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
    
  }

  
.twee{
    color: white;
    background-color: grey;
    height: 100px;
    text-align: center;
    animation-timing-function: ease-in;
    box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
    font-size: 25pt;
    border-radius: 15px;
}
@media only screen and (max-width: 600px){
    .twee{
        background-color: rgb(121, 1, 1);
        color: black;
        font-size: 25pt;
        box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
        border-radius: 25px;
        padding: 25px;
        height: 75px;
    }
}
.twee{
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.drie{
    color: white;
    background-color: grey;
    height: 100px;
    text-align: center;
    animation-timing-function: ease-in;
    box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
    font-size: 25pt;
    border-radius: 15px;
    text-decoration: none;
}

@media only screen and (max-width: 600px){
    .drie{
        background-color: rgb(121, 1, 1);
        color: black;
        font-size: 25pt;
        padding: 20px;
        box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
        border-radius: 25px;
        height: 75px;
    }
}
.drie {
    animation-duration: 4s;
    animation-name: slidein;
  }
  
  @keyframes slideout {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .een:hover, .twee:hover, .drie:hover{
    background-color: rgb(201, 0, 0);
  }
  .een:active, .twee:active, .drie:active{
    color: white;
  }
  a:link, a:visited{
    text-decoration: none;
    pointer-events: initial;
  }
  a:hover{
    color: darkred;
    pointer-events: initial;
  }
  a:active{
    color: red;
    pointer-events: initial;
  }