body{
    background-color: black;
    
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    background-color: rgba(0, 0, 0, 0.685);
    width: 100%;
    height: 200px;
    z-index: 0;
   
}
.logo{
    opacity: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    
}@media only screen and (max-width: 600px) {
    .logo{
        visibility: hidden;
    }
    
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
}
/* div slides*/

.een{
    color: white;
    animation-timing-function: ease-in;
    background-color: grey;
    height: 100px;
    text-align: center;
    box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
    font-size: 25pt;
    border-radius: 15px;
    
    
}
    
    
@media only screen and (max-width: 600px){
    .een{
        background-color: rgb(121, 1, 1);
        color: black;
        padding: 25px;
        font-size: 25pt;
        box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
        border-radius: 25px;
    }
}
.een{
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
    
  }

  
.twee{
    color: white;
    background-color: grey;
    height: 100px;
    text-align: center;
    animation-timing-function: ease-in;
    box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
    font-size: 25pt;
    border-radius: 15px;
}
@media only screen and (max-width: 600px){
    .twee{
        background-color: rgb(121, 1, 1);
        color: black;
        font-size: 25pt;
        box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
        border-radius: 25px;
        padding: 25px;
    }
}
.twee{
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.drie{
    color: white;
    background-color: grey;
    height: 100px;
    text-align: center;
    animation-timing-function: ease-in;
    box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
    font-size: 25pt;
    border-radius: 15px;
    text-decoration: none;
}

@media only screen and (max-width: 600px){
    .drie{
        background-color: rgb(121, 1, 1);
        color: black;
        font-size: 25pt;
        padding: 20px;
        box-shadow: 20px 20px 50px 10px rgb(0, 0, 0) inset;
        border-radius: 25px;
    }
}
.drie {
    animation-duration: 4s;
    animation-name: slidein;
  }
  
  @keyframes slideout {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .een:hover, .twee:hover, .drie:hover{
    background-color: rgb(201, 0, 0);
  }
  .een:active, .twee:active, .drie:active{
    color: white;
  }
  a:link, a:visited{
    text-decoration: none;
    pointer-events: initial;
  }
  a:hover{
    color: darkred;
    pointer-events: initial;
  }
  a:active{
    color: red;
    pointer-events: initial;
  }
 
/* end div slides */
    .footer{
        color: white;
        text-align: center;
        width: auto;
        position: relative;
    }
    .logo1{
        visibility: hidden;
        animation: fadeIn 5s;
    }@keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
   @media only screen and (max-width: 600px){
    .logo1{
        margin-top: 100px;
        width: 450px;
        visibility: visible;
        border-radius: 80%;      
    }   
   }
  